{% extends 'base_template.html' %}
{% block content %}
<div class="starter-template">
    <h1>Recipe Scout</h1>
    <p class="lead">
        Find it. Cook it. Eat it. Done.
    </p>
    <div class="col-md-8 col-md-offset-2">
    <p>
        The basic premise is to find a selection of recipes based off of ingredients
        that you would like to use and ingredients that you don't want to use.
        Furthermore, you can search by category (such as vegetarian or gluten-free)
        and include a list of ingredients that you might want to include if possible,
        but that arent' really necessary.
    </p>
  </div>
</div>
{% endblock %}
