{% extends 'base_template.html' %}
{% block content %}
<div class="starter-template">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <h2>Search for an ingredient!</h2>
        <form action="{{ url_for('index') }}" method="post" class="form-horizontal">
            <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="Search for recipes with..." name="ingredients">
            </div>
            <div class="form-group">
                <div class="checkbox">
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox1" value="gluten-free" name="category"> Gluten Free
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox2" value="vegetarian" name="category"> Vegetarian
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="vegan" name="category"> Vegan
                </label>
              </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10">
                  <button type="submit" class="btn btn-default btn-success">Submit</button>
                </div>
          </div>
        </form>
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-2"></div>
</div>
{% endblock %}
