{% extends 'base_template.html' %}
{% block content %}
<div class="starter-template">
    <div class="col-lg-12">
        <h3>Your search for "{{ query }}" returned {{ results | length }}
            {{ form | join(', ') }} results</h3> <br>
        {#<h4>Of that, we found {{ found | join(', ') }}</h4>
        {% if not_found|length > 0 %}
            <h4>But we didn't find {{ not_found | join(', ') }}</h4>
        {% endif %}#}
    </div>
    <div>
        {% for item in results %}
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" style="height: 230px;">
        <a href="{{ item[1] }}" target="_blank">
        <div class="recipe-card" style="background: url({{ item[3] }}) no-repeat center;">
            </div>
            <div class="recipe-name">
                <span class="recipe-link">{{ item[0] }}</span></div>
            </a>
            </div>
        {% endfor %}
    </div>


</div>
{% endblock %}
