{% extends 'base_template.html' %}
{% block content %}
<div class="starter-template">
    You searched for: {{ query }}
    We found: "{{found}}"
    We didn't find: "{{not_found}}"
    <table class="table table-striped" align="left">
        <tr>
            <th>Name</th>
            <th>Source</th>
        </tr>
        {% for item in results %}
        <tr>
            <td>{{ item[0] }}</td>
            <td><a href="{{ item[1] }}">{{ item[1] }}</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}