.navbar-inverse {
    background-color: #3A5461;
}

.btn-success {
    color: #ffffff;
    background-color: #3A5461;
    border-color: #3A5461;;
}

.recipe-card {
    height: 130px; 
    padding: 0px; 
    background-size:100%; 
    background-color: #3A5461;
}

.recipe-name {
    height: 70px; 
    background-color: #3A5461; 
    line-height: 70px; 
    width: 100%; 
    text-align: center;    
}

.recipe-link {
    color: #ffffff;
    display: inline-block; 
    vertical-align: middle; 
    line-height: normal;
    font-variant: small-caps; 
    padding-left: 10px; 
    padding-right: 10px;
}